---
title: Installing and Configuring Altoros Elasticsearch for VMware Tanzu
owner: Partners
---

This topic describes how to install and configure Altoros Elasticsearch for VMware Tanzu.

##<a id='install'></a> Install and Configure Altoros Elasticsearch for VMware Tanzu

1. Download the product file from Pivotal Network.

1. Navigate to the **Ops Manager Installation Dashboard** and click **Import a Product** to upload the product file.

1. Under the **Import a Product** button, click **+** next to the version number of Altoros Elasticsearch for VMware Tanzu.
This adds the tile to your staging area.

1. Click the newly added **Altoros Elasticsearch for VMware Tanzu** tile.

1. Set up the network for the tile:
  <%= image_tag("images/networks.png") %>

1. Click **Save**.

1. Disable node.data role for masters (enabled by default):
  <%= image_tag("images/settings.png") %>

1. Click **Save**.

1. Return to the **Ops Manager Installation Dashboard**

1. Click **Review Pending Changes**

1. **Select PAS** this will update diego cells with dns alias and **Altoros Elasticsearch for VMware Tanzu**.
