---
title: Installing and Configuring Altoros Elasticsearch for Pivotal Platform
owner: Partners
---

This topic describes how to install and configure Altoros Elasticsearch for Pivotal Platform.

##<a id='install'></a> Install and Configure Altoros Elasticsearch for Pivotal Platform

1. Download the product file from Pivotal Network.

1. Navigate to the **Ops Manager Installation Dashboard** and click **Import a Product** to upload the product file.

1. Under the **Import a Product** button, click **+** next to the version number of Altoros Elasticsearch for Pivotal Platform.
This adds the tile to your staging area.

1. Click the newly added **Altoros Elasticsearch for Pivotal Platform** tile.

1. Set up the network for the tile:
  <%= image_tag("images/networks.png") %>

1. Click **Save**.

1. Return to the **Ops Manager Installation Dashboard** and click **Apply Changes** to install the Altoros Elasticsearch for Pivotal Platform tile.
