---
title: Troubleshooting Altoros Elasticsearch for VMware Tanzu
owner: Partners
---


This topic describes how to resolve common issues with Altoros Elasticsearch for VMware Tanzu.

## <a id='S3 storage minio'></a>Minio

If you use Minio as S3 storage for backup, you have to provide MINIO_DOMAIN environment variable to enable DNS style.
Use this domain as s3 endpoint for backup.
